@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your personal information will never be given or sold to 3rd party sources.</p>
<p>Otherwise only information vital for company tax reporting, records, and the delivery of pizza will be kept.</p>
