<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <h1>Index Page</h1>
    <h2>@ViewBag.TimeNow</h2> @*Anything after an at-sign should be treated as C#. It's part of Razor View*@
    <h2>@ViewData["CurrentTime"]</h2>
</body>
</html>

